ul {
	font-size: 1.5em;
	cursor: pointer;
}

li {
	-webkit-transition: margin-left 0.5s;
}

li:hover {
	margin-left: 15px;
	color: red;
}


#stage {
	margin: 20px auto;
	width: 800px;
	height: 500px; 
	background-color: #65A5D1;
	position: relative; /* Anchor point for absolutely positioned items */
	overflow: hidden;
}

img[alt="Sun"] {
	width: 25%;
	position: absolute; /*Anchored to #stage */
	top: 10px;
	left: 10px;
	cursor: pointer;
	-webkit-transition: all 0.5s;
}

img[alt="Cloud"] {
	width: 70%;
	position: absolute;
	top: 10px; 
	left: -100%;  
}

img[alt="Sun"]:hover {
	-webkit-transform: scale(1.5) rotate(180deg);
	top: 45px;
	left: 45px;
}	