h1 {
    color: red;
    text-align: center;
    text-shadow: 4px 4px 2px salmon;
}

.title {
    color: rgb(255, 145, 0);
}

#italic {
    color: rgb(255, 230, 0);
    font-size: 16px;
}

nav {
    background-color:blueviolet;
    text-align: center;
}

a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
}

.container {
    border: 5px solid grey;
    margin: 50px;
    padding: 20px 15%;
}

.box {
    /* display: inline-block; */
    background-color: blue;
    height: 100px;
    width: 200px;
    margin: 10px;
}

.circleImg {
    border-radius: 50%;
}

img {
    box-shadow: 15px 5px 8px darkgrey;
}

.flex {
    border: 3px solid black;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes fadeMe {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#box2 {
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, green, blue, purple)
}